{% load compass_tags %}
{% if perms.compass.audit_task %}
<!-- Approvals -->
<div class="contenttitle">
  <h3>approvals</h3>
</div>
<div class="content">
  <div class="slimDiv scrollDiv">
    <div class="mousescroll">
      <ul class="entrylist">
      {% if approvals %}
      {% for approval in approvals %}
        <li>
          <div class="entry_wrap">
            <div class="entry_content">
              <h4><a href="{% url 'detail' tid=approval.pk sid=approval.in_progress.pk %}">{{approval.amendment}}</a></h4>
              <small>Submitted by: 
                <strong>{{approval.applicant}}</strong> - {{approval.created_at}}
              </small>
              <p><b>申请时间：</b><span>{{approval.created_at|date:"Y-m-d P"}}</span></p>
              <p><b>发布版本：</b><span>{{approval.version}}</span></p>
              <p><b>发布模块：</b><span>{{approval.get_all_modules|join:" | "}}</span></p>
              <p>
                {% include "task/operate/_waitingforaudit.html" with req_step=approval.in_progress%}
              </p>
            </div>
          </div>
        </li>
      {% endfor %}
      {% else %}
        <li>没有需要审批的任务</li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
<!-- Latest task -->
<div class="contenttitle">
  <h3>Latest task</h3>
</div>
<div class="content">
  <div class="slimDiv">
    <ul class="entrylist">
      <li>
      {% if latest %}
      {% with latest.subtask_set.all as subtasks %}
        {% if subtasks.count == 2 %}
          <ul class="process anchor">
            <li>
              <a href="{% if not subtasks.0.editable %}/{{subtasks.0.url_token}}{% else %}{% url 'detail' tid=latest.pk sid=subtasks.0.pk %}{% endif %}"
                 class="{% if subtasks.0.status.selected %}selected{% endif %}"
                 isdone="1" rel="1">
                <span class="h2">Step 1</span>
                <span class="dot"><span></span></span>
                <span class="label"
                {% if subtasks.0 == latest.in_progress %}
                      style="font-size: 17px;"
                {% endif %}>{{subtasks.0.environment.name}}</span>
              </a>
            </li>
            <li>
              <a href="" isdone="1" rel="2" style="margin-top: 42px;">
                <span class="h2"></span>
                <span class="dot"></span>
                <span class="label" style="margin-top: 21px;"></span>
              </a>
            </li>
            <li>
              <a href="{% if not subtasks.1.editable %}/{{subtasks.1.url_token}}{% else %}{% url 'detail' tid=latest.pk sid=subtasks.1.pk %}{% endif %}"
                 class="{% if subtasks.1.status.selected %}selected{% endif %}"
                 isdone="1" rel="3">
                <span class="h2">Step 2</span>
                <span class="dot"><span></span></span>
                <span class="label" 
                {% if subtasks.1 == latest.in_progress %}
                      style="font-size: 17px;"
                {% endif %}>{{subtasks.1.environment.name}}</span>
              </a>
            </li>
          </ul>
        {% elif subtasks.count > 2 %}
          <ul class="process anchor">
            {% for subtask in subtasks %}
            <li style="width: {% widthratio 100 subtasks.count 1 %}%">
              <a href="{% if not subtask.editable %}/{{subtask.url_token}}{% else %}{% url 'detail' tid=latest.pk sid=subtask.pk %}{% endif %}"
                 class="{% if subtask.status.selected %}selected{% endif %}"
                 isdone="1" rel="{{forloop.counter}}">
                <span class="h2">Step {{forloop.counter}}</span>
                <span class="dot"><span></span></span>
                <span class="label"
                {% if subtask == latest.in_progress %}
                      style="font-size: 17px;"
                {% endif %}>{{subtask.environment.name}}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      </li>
      <div class="clearfix"></div>
      <li>
        <div class="entry_wrap">
          <div class="entry_content">
            <h4 style="margin-top: 0;"><a href="{% url 'detail' tid=latest.pk sid=latest.in_progress.pk %}">{{latest.amendment}}</a></h4>
            <small>Submitted by: 
              <strong>{{latest.applicant}}</strong> - {{latest.created_at}}
            </small>
            <div class="row">
              <p class="col-md-6">发布版本：<span>{{latest.version}}</span></p>
              <p class="col-md-6">发布模块：<span>{{latest.get_all_modules|join:" | "}}</span></p>
            </div>
            <div class="row">
              <p class="col-md-6">当前状态：<span>{{latest.in_progress.status.name}}</span></p>
              <p class="col-md-6">当前发布：<span>{{latest.in_progress.environment.name}}</span></p>
            </div>
            <div class="row">
              <p class="col-md-6">确认人：<span>{{latest.auditor}}</span></p>
              <p class="col-md-6">发布日期：<span>{{latest.in_progress.pub_date|date:"Y-m-d P"|default:"待定"}}</span></p>
            </div>
            <p>发布包：
              {% for package in latest.package_set.all %}
                <br><small>{{package.get_absolute_path}}</small>
              {% endfor %}
            </p>
            {% if replies %}
            <div class="reply">
              <h5>Reply</h5>
              {% for reply in replies %}
                <div class="wrap-reply">
                  <div class="row">
                    <h6 style="margin-top: 0;">{{reply.subject}}</h6><a href="#" title="id_reply">#{{forloop.revcounter}}</a>
                  </div>
                  <div class="comment">
                    <div>
                      <pre>{{reply.content}}</pre>
                    </div>
                  </div>
                  <div class="read-more"></div>
                  {% with reply.attachment_set.all as attachments %}
                    {% if attachments %}
                    {% for attchment in attachments %}
                      <div class="attachment">
                        <span class="glyphicon glyphicon-paperclip"><a href="{{attchment.upload.url}}"> {{attchment.upload.name|slice:"11:"}}</a></span>
                      </div>
                    {% endfor %}
                    {% endif %}
                  {% endwith %}
                  <small>Updated by <strong>{{reply.user}}</strong> - {{reply.created_at}}</small>
                </div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        {% else %}
        Nothing
        {% endif %}
      </li>
    </ul>
  </div>
</div>