<form id="form-{{req_step.pk}}" action="{% url 'go-next' %}" method="POST" role="form">
  {% csrf_token %}
  <input type="hidden" name="sid" value="{{req_step.pk}}">
  <input id="pub_date" type="hidden" name="pub_date" value="">
  <div class="row">
    <p class="col-md-3">
      <a id="pub_now" href="javascript:;" class="btn btn-primary btn-sm">立即发布</a>
      <a id="modify_date" href="javascript:;" class="btn btn-warning btn-sm">修改计划发布时间</a>
    </p>
    <div id="pub_date_div" style="display: none;" class="col-md-9">
      <div class="col-sm-6">
        <input id="date_input" type="text" class="form-control" style="margin-bottom: 0px;" readonly>
        <span class="input-icon fui-calendar-solid" style="right: 15px;"></span>
      </div>
      <div class="col-sm-2" style="margin-top: 3px;">
        <a id="update_pub_date" href="javascript:;" class="btn btn-primary btn-sm">确认修改</a>
      </div>
    </div>
  </div>
</form>
<div class="clearfix"></div>

<div id="dialog-confirm" title="确认" style="display: none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
  确认现在就要发布该环境吗？</p>
</div>

<script>
  $('#date_input').datetimepicker({timeFormat: 'HH', minDate: 0});

  $(function(){
    $('#pub_now').click(function(){
      $("#dialog-confirm").dialog({
        resizable: false,
        height:180,
        modal: true,
        buttons: {
          "确认并发布": function() {
            // Clean up the value of pub_date
            $('#pub_date').val('');

            $('#form-{{req_step.pk}}').submit();
            $( this ).dialog("close");
          },
          "取消": function() {
            $( this ).dialog("close");
          }
        },
        open:function () {
          $(this).closest(".ui-dialog").find("button").each(function(){
            $(this).addClass("btn btn-primary");
            $(this).css("font-size", "12px");
          });
        }
      });
    });
  });

  $('#modify_date').click(function(){
    // Clean up the value of pub_date
    $('#pub_date').val('');

    var $pub_div = $('#pub_date_div');

    $pub_div.slideToggle(300);
  });

  $('#update_pub_date').click(function(){
    var $pubDate = $('#date_input').val();
    $('#pub_date').val($pubDate);
    $('#form-{{req_step.pk}}').submit();
  });
</script>
